/*
=====================
global
=====================
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#2f3f46;
}

/*
=====================
header
=====================
*/



header {
  text-align: center;
  height: 40px;
  background: #eee;
}

/*
=====================
main
=====================
*/


.container {
  display: flex;
}


#map {
  height: 400px;
  margin: 15px;
  border-radius: 5px;
}

.map-controls {
  width: 40%;
  height: 100vh;
  background: teal;
}

aside {
  display: flex;
  flex-direction: column;
}

.item-content {
  width: 60%;
  flex-direction: column;
}

.item-information {
  border-radius: 5px;
  margin: 0 15px;
  padding: 15px;
  background: #eee;
  display: block;
  /* height
  display: flex;
  flex-direction: column; */
}

/* .options, .itinerary {
  margin: 30px;
  background: #eee;
} */


h2 {
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  font-size: 1.2rem;
}


@media screen and (max-width: 600px) { /*lower than 600px*/
  .container {
    flex-direction: column
  }
  #map {
    margin: 0 1rem;
    height: 60vh;
  }
}


.panel {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #eee;
  color: #aaa;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel > div {
  margin: 1.25rem 0 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

select {
  width: calc(100% - 25px);
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

.options-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
  outline: none;
}

.delete-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #bd546e;
  border: 0;
  color: #fff;
  outline: none;
  margin: 5px;
}

.delete-btn:hover {
  background: #9b364f;
}

.options-btn:hover {
  background: #4283aa;
}

.options-btn:active {
  background: #286090;
}


.view-item {
  cursor: pointer;
}

.view-item:hover {
  color: orangered;
}
